
.ui.form .field>label {
  opacity: 0.6;
  color: #3e5860;
}

.ui.button:hover {
  opacity: 0.9;
}

.ui.horizontal.list>.item {
  font-size: 1rem;
  background: rgba(220,220,220,0.5);
  margin: 2px;
  padding: 4px;
  border-radius: 3px
}

.step {
  cursor: pointer;
}

.identicon {
  vertical-align: top;
}

.top-menu {
  margin: 4px 14px;
}

.top-menu .ui.selection.dropdown.chain {
  border-radius: 1em;
  border: solid 1px white;
  color: white;
  background-color: rgba(0,0,0,0);
}

.bottom-menu {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.mnemonic textarea {
  line-height: 1.8rem !important;
  word-spacing: 5px !important;
  height: 80px !important
}
